/*导航样式*/
.index_nav.navbar {
  margin-bottom: 0px;
}
.index_nav .navbar-brand {
  height: 80px;
}
.index_nav .navbar-nav > li > a {
  line-height: 60px;
  font-size: 16px;
  margin: 0px 5px;
}
.index_nav .navbar-nav > li > a:hover,
.index_nav .navbar-nav > li a:focus {
  color: #777;
  border-bottom: 3px solid #e92322;
}
.index_nav .navbar-nav .active > a,
.index_nav .navbar-nav .active a:hover,
.index_nav .navbar-nav .active a:focus {
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}
.index_nav .navbar-toggle {
  margin-top: 23px;
}
/*轮播图样式*/
.index_banner .pcImg {
  width: 100%;
  height: 410px;
  display: block;
  /* 设置背景图片居中显示 */
  background-position: center center;
  /* 设置背景图的大小 */
  background-size: cover;
}
.index_banner .mobileImg {
  width: 100%;
  display: block;
}
.index_banner .mobileImg > img {
  width: 100%;
  display: block;
}
/*信息块样式*/
.index_info {
  padding: 30px;
}
.index_info .row > div {
  margin-top: 20px;
}
/*产品块*/
.index_products {
  padding: 20px;
}
.index_products .tab_parent {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
.index_products .nav-tabs > li > a {
  line-height: 30px;
  font-size: 18px;
}
.index_products .tab-content {
  padding-top: 20px;
}
.index_products .tab-content .thumbnail:hover {
  box-shadow: 1px 1px 20px 5px #eee;
}
.index_products .tab-content .caption {
  padding: 0px 20px;
}
.index_products .tab-content .caption > h3 {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.index_products .tab-content .caption > div {
  height: 30px;
}
.index_products .tab-content .caption > div > .spanlf {
  float: left;
  font-size: 18px;
  color: #e92322;
}
.index_products .tab-content .caption > div > .spanrt {
  float: right;
  font-size: 18px;
  text-decoration: line-through;
}
/*信息块*/
.index_news {
  margin-bottom: 20px;
  padding-top: 20px;
}
.index_news .news_title {
  line-height: 50px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.index_news .news_title::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  bottom: -4px;
  right: -8px;
}
.index_news .news_line {
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 1px dashed #e92322;
  left: 45px;
  top: 0;
}
.index_news .nav-tabs {
  border-bottom: none;
}
.index_news .nav-tabs > li {
  margin-bottom: 60px;
}
.index_news .nav-tabs > li > a {
  background-color: #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
}
.index_news .nav-tabs > li > a:hover {
  border: none;
  background-color: #e92322;
}
.index_news .nav-tabs > li.active > a,
.index_news .nav-tabs > li.active a:hover,
.index_news .nav-tabs > li.active a:focus {
  border: none;
  background-color: #e92322;
}
.index_news .nav-tabs > li .glyphicon {
  font-size: 30px;
  color: #fff;
}
.index_news .nav-tabs > li:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .index_news .nav-tabs > li {
    margin: 20px 30px;
  }
}
@media screen and (max-width: 768px) {
  .index_news .nav-tabs > li {
    margin: 20px 0px;
    padding-left: 5%;
    width: 25%;
  }
}
.index_news .news_list {
  list-style: none;
}
.index_news .news_list > li {
  line-height: 60px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.index_footer {
  background-color: #ccc;
}
.index_footer .footer_partner {
  line-height: 30px;
  padding: 30px 0px 10px 0px;
}
.index_footer .footer_partner a {
  display: inline-block;
  border-left: 1px solid #bbb;
  padding: 0px 20px;
}
.index_footer .footer_partner a:first-child {
  border-left: none;
}
.index_footer .footer_partner a:hover {
  color: #e92322;
}
.index_footer .footer_record {
  line-height: 30px;
}
.index_footer .footer_record a {
  display: inline-block;
  padding: 0px 20px;
}
.index_footer .footer_record a:hover {
  color: #e92322;
}
